name: verify

on:
  pull_request:
  push:
    branches: master

jobs:
  verify:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [0, 1, 2, 3]
        total_shards: [4]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        
    - name: Set up Python
      uses: actions/setup-python@v1

    # ! dependents on other library
    - name: Update Submodules
      run: git submodule update --remote

    - name: Install dependencies
      run: pip3 install -U online-judge-verify-helper

    - name: Fetch
      run: |
        git config remote.origin.fetch '+refs/heads/*:refs/remotes/origin/*'
        git fetch --all

    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
        GH_PAT: ${{ secrets.GH_PAT }}
      run: oj-verify all --timeout 100000 --jobs 1 --shard ${{ matrix.shard }} --total-shards ${{ matrix.total_shards }}

    # - name: Run yukicoder
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
    #     GH_PAT: ${{ secrets.GH_PAT }}
    #   run: oj-verify run test/yukicoder/117.test.cpp

